name: CD Build and Deploy Artifact

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Dar permisos a Gradle Wrapper
        run: chmod +x gradlew

      - name: Ejecutar pruebas
        run: ./gradlew test

      - name: Construir proyecto
        run: ./gradlew build

      - name: Publicar artefacto JAR
        uses: actions/upload-artifact@v4
        with:
          name: wallet-app-jar
          path: build/libs/*.jar
